<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>nauxscript.workflow.alfred-open-port</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0EC46467-B2D7-4B7D-975D-E6086FD950C0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0EA6FA32-0F9C-4D45-8665-0A7230D11163</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1F6017E0-434C-44A8-B871-4269E258FCAE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>205BBC80-E258-474A-AA68-9DDC4B2C8EA8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0EC46467-B2D7-4B7D-975D-E6086FD950C0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4D59CF3D-7FD5-417D-B25C-C5FEC1306A00</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>ECACC8FF-09ED-4D32-8C85-947E65E0ACCD</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3CAD799C-0423-4214-B0BC-2BFE6B9B7E98</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0EA6FA32-0F9C-4D45-8665-0A7230D11163</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4D59CF3D-7FD5-417D-B25C-C5FEC1306A00</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0EA6FA32-0F9C-4D45-8665-0A7230D11163</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7B64AF79-0000-4978-B325-3163AE16459A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7B64AF79-0000-4978-B325-3163AE16459A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3CAD799C-0423-4214-B0BC-2BFE6B9B7E98</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>CDD92D35-2B6A-4F04-9B49-240868C3D37C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Nauxscript</string>
	<key>description</key>
	<string>a Workflow to open local listened port easily</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open Local Port</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ALFRED_WORKFLOW_DATA="${alfred_workflow_data}"
FILE="${ALFRED_WORKFLOW_DATA}/ports"
INPUT="${currPort}"  # take the input from command line argument
DEAFAULT_VALUE="${myPorts}"

if [ ! -d "${ALFRED_WORKFLOW_DATA}" ]; then
  mkdir -p "${ALFRED_WORKFLOW_DATA}"
fi

# If the file does not exist, create it with initial value
if [ ! -f "$FILE" ]; then
	_DEAFAULT_VALUE=$(echo "$DEAFAULT_VALUE" | tr -dc '0-9,')
    echo "$_DEAFAULT_VALUE" &gt; "$FILE"
fi

# If the file does not exist, create it with initial value
# if [ ! -f "$FILE" ]; then
#    echo "$DEAFAULT_VALUE" &gt; "$FILE"
# fi

if [ -z "$INPUT" ]; then
    echo "Input is empty, no action performed."
    exit 0
fi

# Check if the input already exists in the file
if ! grep -q "$INPUT" "$FILE"; then
    # If not, append the input to the file
    echo -n ",$INPUT" &gt;&gt; "$FILE"
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>205BBC80-E258-474A-AA68-9DDC4B2C8EA8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0EC46467-B2D7-4B7D-975D-E6086FD950C0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>
				{{update_script}}
				</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0EA6FA32-0F9C-4D45-8665-0A7230D11163</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>lh</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>osascript -l JavaScript index.js "$1" 2&gt;&amp;1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>输入端口号...</string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1F6017E0-434C-44A8-B871-4269E258FCAE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>http://{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>4D59CF3D-7FD5-417D-B25C-C5FEC1306A00</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Already copied!</string>
				<key>title</key>
				<string>http://{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3CAD799C-0423-4214-B0BC-2BFE6B9B7E98</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:notificationEnabled}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>true</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>CDD92D35-2B6A-4F04-9B49-240868C3D37C</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>7B64AF79-0000-4978-B325-3163AE16459A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ALFRED_WORKFLOW_DATA="${alfred_workflow_data}"
FILE="${ALFRED_WORKFLOW_DATA}/ports"
INPUT=$1

if [ ! -d "${ALFRED_WORKFLOW_DATA}" ]; then
  	echo "no this workflow folder"
  	exit 0
fi

# If the file does not exist, create it with initial value
if [ ! -f "$FILE" ]; then
    echo "no user ports data file"
  	exit 0
fi

if [ -z "$INPUT" ]; then
    echo "Input is empty, no action performed."
    exit 0
fi


# remove the port
sed -i '' "s/[[:&lt;:]]$INPUT[[:&gt;:]]//g" "$FILE"

# remove consecutive or leading/trailing commas.
sed -i '' -e $'s/,,*/,/g;s/^,//;s/,$//' "$FILE"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ECACC8FF-09ED-4D32-8C85-947E65E0ACCD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>
	{{readme}}
	</string>
	<key>uidata</key>
	<dict>
		<key>0EA6FA32-0F9C-4D45-8665-0A7230D11163</key>
		<dict>
			<key>xpos</key>
			<real>1430</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>0EC46467-B2D7-4B7D-975D-E6086FD950C0</key>
		<dict>
			<key>xpos</key>
			<real>695</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>1F6017E0-434C-44A8-B871-4269E258FCAE</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>205BBC80-E258-474A-AA68-9DDC4B2C8EA8</key>
		<dict>
			<key>note</key>
			<string>store port</string>
			<key>xpos</key>
			<real>695</real>
			<key>ypos</key>
			<real>115</real>
		</dict>
		<key>3CAD799C-0423-4214-B0BC-2BFE6B9B7E98</key>
		<dict>
			<key>xpos</key>
			<real>1080</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>4D59CF3D-7FD5-417D-B25C-C5FEC1306A00</key>
		<dict>
			<key>xpos</key>
			<real>695</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>7B64AF79-0000-4978-B325-3163AE16459A</key>
		<dict>
			<key>xpos</key>
			<real>955</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>ECACC8FF-09ED-4D32-8C85-947E65E0ACCD</key>
		<dict>
			<key>note</key>
			<string>remove port from cache</string>
			<key>xpos</key>
			<real>695</real>
			<key>ypos</key>
			<real>540</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>{{version}}</string>
	<key>webaddress</key>
	<string>https://github.com/Nauxscript/alfred-open-port</string>
</dict>
</plist>
